#corpoCalculadora{
  padding: 20px;
  border: 1px solid #aaa;
  width: 500px;
}

#corpoTeclas{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
}

#visor{
  padding: 10px;
  border: 1px solid #aaa;
  margin-bottom: 20px;
}

.tecla{
  padding: 5px;
  border: 1px solid #aaa;
}